.nav-link {
  @apply .block .text-white .no-underline .uppercase .transition-text-color;
  @screen lg {
    @apply .mb-1;
  }

  &:hover {
    @apply .text-grey-lightest;
    /* @screen lg {
      @apply .border-b;
    } */
  }

}
